@model IEnumerable<ArchiveDomain.Model.Poetry>

@{
    ViewData["Title"] = "Index";
}

<div class="page-content">
<h1>Поезії</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @($"{item.Admin.FirstName} {item.Admin.LastName}")
            </td>
            <td>
                @($"{item.Author.FirstName} {item.Author.LastName}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Language1)
            </td>
            <td>
                @foreach (var form in item.Forms){
                    @form.FormName;
                    <br />
                }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
